[base]
name=CentOS-$releasever - Base - mirrors.aliyun.com
failovermethod=priority
baseurl={{ yum_repo }}/$releasever/os/$basearch/
gpgcheck=1
gpgkey={{ yum_repo }}/RPM-GPG-KEY-CentOS-7

#released updates
[updates]
name=CentOS-$releasever - Updates - mirrors.aliyun.com
failovermethod=priority
baseurl={{ yum_repo }}/$releasever/updates/$basearch/
gpgcheck=1
gpgkey={{ yum_repo }}/RPM-GPG-KEY-CentOS-7

#additional packages that may be useful
[extras]
name=CentOS-$releasever - Extras - mirrors.aliyun.com
failovermethod=priority
baseurl={{ yum_repo }}/$releasever/extras/$basearch/
gpgcheck=1
gpgkey={{ yum_repo }}/yumAliyun/RPM-GPG-KEY-CentOS-7

#additional packages that extend functionality of existing packages
[centosplus]
name=CentOS-$releasever - Plus - mirrors.aliyun.com
failovermethod=priority
baseurl={{ yum_repo }}/$releasever/centosplus/$basearch/
gpgcheck=1
enabled=0
gpgkey={{ yum_repo }}/RPM-GPG-KEY-CentOS-7

#contrib - packages by Centos Users
[contrib]
name=CentOS-$releasever - Contrib - mirrors.aliyun.com
failovermethod=priority
baseurl={{ yum_repo }}/$releasever/contrib/$basearch/
gpgcheck=1
enabled=0
gpgkey={{ yum_repo }}/RPM-GPG-KEY-CentOS-7